# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
.idea/

# Distribution and packaging
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Spec files
*.spec

# Local configuration files (uncomment and adjust as needed)
#.env
#config.local.yaml

# Excel files
*.xlsx